@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(180deg, #22838c -15.8%, #040f15 59.12%);
  overflow: hidden;
}

.label {
  background-color: transparent;
  color: #d5eade;
  border-radius: 2px;
  backdrop-filter: blur(1px);
  font-size: 0.7em;
  font-weight: 400;
  margin-top: 1em;
  width: fit-content;
  cursor: pointer;
}
